/* styles.css */


#calendar {
    padding: 20px;
    border-radius: 5px;
}

#monthAndYear {
    text-align: center;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 14.28%;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

button {
    margin: 5px;
    padding:5px;
}

.calendar table{
    margin-bottom:15px;
}
