*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height:100vh;
}

.modal{
    width:300px;
}

.modal-content{
    width:300px;
}



/* main */
main{
    display:flex;
}

main .submenu{
    background:red;
    width:12%;
    height:100%;
    position:fixed;
}

main .dash-info{
    width:100%;
   margin-left:13%;
}

.col-border{
    border-radius: 25px;
}
.col-4 a{
    text-decoration:none;
}

.title-card-dash{
text-align: right;
}
.icon-card-dash{
    display:flex;
    justify-content: space-between;
    font-size:35px;
    font-weight: bold;
    
}


/*
main .secao-info{
    background:blue;
    width:88%;
    margin-left:13%; 
}
*/

