<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap demo</title>
    <meta content="" name="description">
    <meta content="" name="keyworks">

    <!-- Arquivo CSS -->
    <link rel="stylesheet" href="style.css">

    

  </head>

  <body>
  
    <div class="row container-fluid d-flex justify-content-between  ">

      <div class="col-10  bg-danger">
        logo
      </div>
      <div class="d-none bg-warning ">
        menu
      </div>
      <div class="d-none bg-success">
        login
      </div>
  
      <div class="col-2 bg-success text-end">
        <button class="btn btn-primary " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
          aria-controls="offcanvasTop"><i class="bi bi-list"></i></button>
  
        <div class="offcanvas offcanvas-top h-100 text-center p-0 m-0" tabindex="-1" id="offcanvasTop"
          aria-labelledby="offcanvasTopLabel">
          <div class="offcanvas-header bg-danger">
            <h5 class="offcanvas-title" id="offcanvasTopLabel">Offcanvas top</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            ...
          </div>
        </div>
      </div>
  
    </div>
  
  </body>
</html>